/******************************************************************************

STANDARD ELEMENTS

******************************************************************************/

html, body {
  /* sizing and positioning: fill the page */
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  
  /* styling */
  background-image: url(../images/grey_tiles.jpg);
  font-family: 'Roboto', arial;
  
  /* sizing, keeps the body large enough visually */
  min-height: 700px;
}

body {
  /* positioning */
  position: relative;
  
  /* centers card vertically in the body */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
  margin-top: 20px;
}

h2 {
  font-weight: 400;
  font-size: 2em;
  color: #7c7c7c;
  margin: 10px;
}

h3 {

  font-weight: 300;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.hi, p, a {
  color: #D6DAFF;
}

.hi {
  text-align: left;
  margin-left: 0;
  font-size: 3.5em;
  
}

p {
  font-weight: 300;
  text-align: left;
}

a {
  font-weight: 300;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:hover {
  border-bottom: 1px solid;
}

/******************************************************************************

CARD ELEMENTS

******************************************************************************/

.card {
  background-color: transparent;
  
  /* display the three elements in a row */
  display: flex;
  flex-direction: row;
  
}


.card-left, .card-text {
  background-color: #2A2E4E ;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-left {
  /* order in the parent's flex layout */
  order: 1;
  
  /* positioning */
  position: relative;
  z-index: 0;
  
  /* relative sizing */
  width: 50px;
  min-width: 50px;
}

.card-image {
  /* order in card flex */
  order: 2;
  
  /* positioning */
  position: relative;
  z-index: 1;
  
  /* relative size */
  width: 475px; /* 1.27 */
  min-width: 475px;
  height: 637px;
  box-shadow: 0px 0px 40px #000000;
  
  /* internal layout */
  display: flex;
  flex-direction: column;
}

.card-top {
  position: relative;
  z-index: 1;
  height: 50%;
  width: 100%;
  background-color: #a485b6;
}

.card-bottom {
  z-index: 0;
  padding-top: 14%;
  text-align: center;
  position: relative;
  height: 40%;
  width: 100%;
  background-color: white;
}

.headshot {
  /* positioning */
  position: relative;
  left: 20%;
  top: 30%;
  
  /* sizing */
  width: 60%;
  height: 90%;
  max-width: 60%;
  max-height: 90%;
  
  /* make it a circle */
  border-radius: 50%;
  
  /* will be relative, in a media query */
  background: url(../images/Lobster_Cropped.jpg) no-repeat;
}

.card-text {
  /* order in card flex */
  order: 3;
  
  /* positioning */
  position: relative;
  
  /* sizing */
  width: 100%; 
}

.text-box {
  /* positioning */
  position: absolute;
  padding-left: 15%;
  padding-right: 15%;
  
  /* sizing */
  width: 70%;
  top: 20%;
}
